html{
  background: url("https://s-media-cache-ak0.pinimg.com/236x/0a/d0/ff/0ad0ffc29601e9b0889bb5dd1a8e1a02.jpg") no-repeat center center fixed ;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    @import url(https://fonts.googleapis.com/css?family=Chewy);
}

h1 {
 font-family: 'Chewy', cursive;
}