body{
  background-image: url("zayn-malik-twitter-angry-rant.jpg");
  background-size: 300px;
}

h1{
  background-color: black;
    color: lavender;
  font-style: oblique;
  text-align: center;
}

h2{
  padding: 14px 25px;
  background-color: black;
  color: lavender;
  font-style: oblique;
  text-align: center;
   text-decoration: none;
    display: inline-block;
}








