h1 {
  text-align: center;
  color: black;
}
p1 {
    text-align: center;
    color: white;
}
html{
    background: url(https://lh3.googleusercontent.com/-z9BbQDW9sNk/Vi6ZR4PRneI/AAAAAAAAOvI/3DmClSbAK6s/w426-h630/2015%2B-%2B1.gif) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover; 
        -o-background-size:cover; 
        background-size:cover;
}