body{
    background-color: #00008B;
}

a{
  padding: 2px 6px 2px 6px;
  text-decoration: blue;
  color: #FFFAF0;
  border-radius: 25px;
  
}

h1{
  border: white dotted 3px;
}
img{
  border: white dotted 3px;
}