h1 {
    color: black;
    text-align: center;
    font-size: 62px;
}

html { 
  background: url(http://orig11.deviantart.net/db40/f/2015/101/7/4/lionsmane_animated_by_khan_the_cake_lover-d8pd1o2.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


p {
    text-align: center;
    font-size:40px;
    font-style: inherit; 
}

a {
    color: #c4748b;
}

#me {
      display: block;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      height: 400px;
      border-radius: 50%;
      border: solid;
      border-width: 9px
}
