
body{
  background-image: url("https://akphoto3.ask.fm/830/651/366/-89996993-1tk266c-7t1nktqrqi8epp/original/lionboy.jpg") ;
  width: 700px;
    height: 700px
}
h1{
    color:rgb(0, 0, 102);
    font-family: "Times New Roman";
}
p2{color:rgb(0, 51, 0);
    font-family: "Times New Roman";

}
p3{color:rgb(0, 0, 153);
    font-family: "Times New Roman";
}