html{
  background: url("http://i.kinja-img.com/gawker-media/image/upload/s--avZl-bA---/c_scale,fl_progressive,q_80,w_800/ebxvod5t6w6tbnovojpm.jpg") no-repeat center center fixed ;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}