body{
  background-image: url("http://static1.eclypsia.com/public/upload/cke/English%20content%20photos/Games/League%20of%20Legends/Champions/Jhin/Jhin_Splash_1.jpg") ;
 background-size: 1500px 700px;
    background-repeat: no-repeat;
}


