body{
  background-color: rgb(0, 255, 0);
}
h1{
  color:red;
    font-family: "Arial", Sans-serif, serif;
    
}
p1{
  color: blue;
}
div {
    background: url(https://www.planwallpaper.com/static/images/magic-of-blue-universe-images.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}