@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);

h1{
  font-family:
   'Gloria Hallelujah', cursive;
  font-size: 50px;
  color: rgb(128,0,0);

}

body{
  background-image:url(http://41.media.tumblr.com/0c911d41caad130560a2709f830cb9ef/tumblr_n1wkcgWSLq1skakdfo1_500.jpg);
   <audio src="https://soundcloud.com/cherylcoverscrap/house-of-gold-twenty-one-pilots-gasoline-halsey-mashup-ukulele-cover autoplay"></audio>;
}