@import url(https://fonts.googleapis.com/css?family=Risque);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
h1{
  font-family: "Clicker Script";
   text-align: center;
   color: orange;
  font-size: 300%;
}
h4{
  color: yellow;
  background-color: black;
  opacity: 0.7;
  font-family: "Risque";
}
h3{
  color: cyan;
  background-color: black;
  opacity: 0.7;
  font-family: "Kaushan Script"
}
body{
  background-image: url("http://36.media.tumblr.com/tumblr_ltn9nyPZMZ1r2h6ioo1_500.png")
}
