@import url(https://fonts.googleapis.com/css?family=Lobster);
body {
  background-color: #ccccff;
  border-style: dotted;
  border-width: 2px;
}
h1 {
  font-family: "Lobster";
  color: #660066;
  text-align: center;
}

h2 {
  font-family: "Lobster";
  color: #660066;
  text-align: center;
}

h3 {
   font-family: "Lobster";
  color: #660066;
  text-align: center;
}

