@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

h1{
  color:
rgb(75, 217, 213);
  text-align: center;
  font-family: 'Indie Flower';
}

body {
  background-image: url("http://data.whicdn.com/images/124004601/large.gif");
}