@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
h1{
      color: white;
  font-family: "dancing script";
  text-align: center;
}
h2{
  color: white;
  font-family: "dancing script";

}